<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head ('Show')"/>
<body>

<nav th:replace="partials :: navbar"/>
<div class="container">
    <div class="post">
        <h1 class="display-6" th:text="${post.title}"></h1>
        <p class="h6 text-muted" th:text="${'post by: ' + post.user.username}"></p>
        <p class="lead" th:text="${post.body}"></p>
        <small th:text="${'contact me at: ' + post.user.email}"></small>
    </div>
</div> <!-- body container -->
<footer th:replace="partials :: footer"/>
</body>
</html>