<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head ('Form')"/>
<body>
<nav th:replace="partials :: navbar"/>

<div class="container">
<div class="h1 text-center">Log in</div>    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form-control mb-3" th:action="@{/login}" method="post">
        <label class="mb-3" for="username">Username</label>
        <input class="form-control mb-3" id="username" name="username" type="text">
        <label class="mb-3" for="password">Password</label>
        <input class="form-control mb-3" id="password" name="password" type="password">
        <input class="form-control mb-3" type="submit" value="Log In">
    </form>
</div>


</body>
</html>